{% extends "layout.html" %}
{% block body %}
<div class="container error-page text-center">
  <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='img/logo.png') }}" width='150' height='150' alt="Saulify"/>
  </a>
  <h1>404: Not Found</h1>

  <blockquote>
    <p><em>Did you not plan for this contingency? I mean the Starship Enterprise had a self-destruct button. I'm just sayin'...</em></p>
    <footer><cite title="Saul Goodman">Saul Goodman</cite></footer>
  </blockquote>

  <p>You can either head back to <a href="{{ url_for('index') }}">Saulify</a> or sit here and listen to a goat scream like a human.</p>

  <iframe src="http://www.youtube.com/embed/SIaFtAKnqBU?vq=hd720&rel=0&showinfo=0&controls=0&iv_load_policy=3&loop=1&playlist=SIaFtAKnqBU&modestbranding=1&autoplay=1" width="560" height="315" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

</div>
{% endblock %}