{% extends "layout.html" %}
{% block body %}
<div class="container landing-page">
  <div class="row">
    <div class="col-md-4">
        <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
        <a href="#" class="btn btn-default btn-md btn-block" id="add_user_add">Add User</a>
        <a href="/logout" class="btn btn-default btn-md btn-block" role="button">Logout</a>
        </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">All users</div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#id</th>
                  <th>Email</th>
                  <th>Api Key</th>
                  <th></th>
                </tr>
              </thead>
              <tbody style="text-align: left; vertical-align: middle;">
              {% for  user in users %}
                <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.email }}</td>
                  <td>{% if user.api_key %}
                    <a href="javascript:createkey('{{user.id}}');"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                    <a href="javascript:revokekey('{{user.id}}');"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                    {{ user.api_key }}
                    {% else %}
                    <a href="javascript:createkey('{{user.id}}');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    {% endif %}</td>
                  <td>
                    <a href="javascript:edituser('{{user.id}}');"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="javascript:deleteuser('{{user.id}}');"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addUser" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">User</h4>
      </div>
      <div class="modal-body">
      <form action="" method=post id="adduserform" role="form">
            {{ form.hidden_tag() }}
            {{ form.id }}
        <div class="control-group">
          <div class="controls">
            {{ form.email(class="form-control", placeholder="Enter email") }}
            <p class="text-danger flash" id="error_email">{{ form.email.errors[0] }}</p>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            {{ form.password(class="form-control", placeholder="Enter password") }}
            <p class="text-danger flash" id="error_password">{{ form.password.errors[0] }}</p>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">                                  
        <button type="submit" class="btn btn-primary btn-success" id="add_user_form_btnsave">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<script>

function createkey(user_id){
  $.ajax({
    type: "PUT",
    url: "/dashboard/key/" + user_id,
    success: function(){
        location.reload();
    }
  });
}
function revokekey(user_id){
  $.ajax({
    type: "DELETE",
    url: "/dashboard/key/" + user_id,
    success: function(){
        location.reload();
    }
  });
}

function edituser(id)
    {
        $("#id").val(id);
        $.get(  
            "/user/" + id,  
            {}
        ).done(function(data){
            $("#id").val(data.id);
            $("#email").val(data.email);
            $("#password").val("");
            $("#error_email").text("");
            $("#error_password").text("");
            $("#addUser").modal('show');
        }).fail(function(data,textstatus,xhr){
            alert('fail = ' + data + ', textstatus ' + textstatus );    
        })
        ;
    }

function deleteuser(user_id){
    bootbox.confirm("<strong>User deletion</strong><p>You can't undo this action. Are you sure?</p>", function(result){
     if(result)
        {
    $.ajax({
    type: "DELETE",
    url: "/user/" + user_id,
    success: function(){
        location.reload();
    }
  });
}
});
}
        $("#add_user_add").click(function(){
        $("#email").val("");
        $("#password").val("");
        $("#error_email").text("");
        $("#error_password").text("");
        $("#addUser").modal('show');
        return false;
    });

    $("#add_user_form_btnsave").click(function(){
        $.post(  
            "{{ url_for('add_user') }}",  
            $("#adduserform").serialize(),  
            function(data, textStatus) {
                 var errors = $.parseJSON(data);    
                $("#error_email").text("");
                $("#error_password").text("");
    
                if(errors.iserror)
                {       
                    if(errors.email!=undefined) $("#error_email").text(errors.email[0]);
                    if(errors.password!=undefined) $("#error_password").text(errors.password[0]);
                }else if (errors.savedsuccess)
                {
                    $("#addUser").modal('hide');
                    location.reload();
                }
            }  
        );
    });


</script>
{% endblock %}