{% extends "layout.html" %}
{% block body %}
  <div class="container landing-page">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <img src="{{ url_for('static', filename='img/logo.png') }}" width='150' height='150' alt="Saulify"/>
      </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ url_for('show_article') }}" method=get>
                <div class="form-group">
                    <div class="col-md-12">
                        <input class="form-control input-lg" type="url" name="u" placeholder="Paste the URL of an article to clean up and share!">
                    </div>
                    <div class="col-md-12">
                        <br />
                        <button class="btn btn-success btn-lg">Clean it!</button>
                    </div>
                    <div class="col-md-12">
                        <br /><br /><br />
                        Or drag this <a class="bookmarklet" title="Saulify" href='javascript:(function()%7Bwindow.baseUrl%3D"%2F%2Fsaulify.me"%3Bvar e%3Ddocument.createElement("script")%3Be.setAttribute("type"%2C"text%2Fjavascript")%3Be.setAttribute("charset"%2C"UTF-8")%3Be.setAttribute("src"%2CbaseUrl%2B"%2Fstatic%2Fjs%2Fsaulify_browser.js")%3Bdocument.documentElement.appendChild(e)%7D)()'>Saulify Bookmarklet</a> link to your bookmarks bar.
                   </div>
                </div>
            </form>
        </div>
    </div>
  <div>
{% endblock %}
