body {
    font-family: 'Open Sans', Arial, sans-serif;
    background: #fafafa;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
a.bookmarklet {
  cursor: move;
}
.container.landing-page {
    position: relative;
    padding: 100px 15px;
    text-align: center;
}
.container.article-page {
    padding: 40px 15px;
    background-color: #fff;
    color: rgba(0,0,0,0.8);
    font-family: 'Lora', serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
}
.container.article-page h2 {
  font-weight: 600;
}
.container.article-page p {
    margin-bottom: 30px;
}
.article {
  padding-top: 30px;
}
.btn, .btn-lg, .input-lg {
    border-radius: 3px;
}
.form-control {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.input-lg {
    height: 50px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 28px;
    height: 52px;
}
.btn-large {
    font-size: 18px;
    padding: 20px 50px;
    margin: 5px 10px;
}
.btn-success {
    background-color: #2ecc71;
    background-image: none;
    border: 0;
    line-height: 1.8;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #29c36a;
    color: #fff;
    border: 0;
}